apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
  - port: 80        # internal cluster port
    targetPort: 80  # container port
    nodePort: 30080 # accessible outside cluster
  type: NodePort
